<html>
    <head>
        <title>Milestone 1 Project</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>{{songName}}</h1>
        <h2>{{artistName}}</h2>
        <br>
        <img class="style" src={{albumImage}}>
        <br>
        <div class=audiostyle>
        <audio controls src={{previewURL}}></audio>
        </div>
        <div class=textstyle>
        <a href={{songLyric}}>Click here for song lyrics!</a>
        </div>
    </body>
</html>